@font-face {
    font-family: DX-Rigraf;
    src: url(../../assets/fonts/DXRigraf-SemiBold.otf) format("opentype");
}

.hero--section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1em 0;
}

.hero--section-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}

.hero--heading {
    font-family: DX-Rigraf;
    font-size: 45px;
    font-weight: 600;
    line-height: 62.8px;
    /* max-width: 80%; */
}

.hero--description {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    max-width: 570px;
}

.hero--section-right {
    flex: 1;
    width: 50%;
    display: flex;
    justify-content: center;
}

.hero--section-right img {
    width: 80%;
    height: auto;
    display: block;
}

.subscribe--box {
    max-width: 553px;
    min-height: 55px;
    padding: 0.2em;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.subscribe--box:focus {
    border: 2px solid #ffb85f;
}

.subscribe--input {
    height: 100%;
    width: 70%;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 0 0.5em;
    background: transparent;
}

.subscribe--btn {
    min-height: 43px;
    width: 146px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #000;
    color: white;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.subscribe--btn:hover {
    background-color: #ffb85f;
}
