*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/media/background.png);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
